<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.interfaces.IAirlineDao">
   <resultMap id="AirlineResultMap" type="com.solvd.airport.entities.Airline" autoMapping="false">
      <result column="airline_name" property="name" />
      <result column="working_planes" property="workingPlanes" />
   </resultMap>
   <select id="getById" parameterType="Long" resultMap="AirlineResultMap">
	  Select * from Airlines where ID =#{id}
   </select>

   <select id="getAll" resultMap="AirlineResultMap">
	  Select * from Airlines
   </select>
   <delete id="delete">

   </delete>
   <insert id="save">

   </insert>
   <update id="update">

   </update>
</mapper>