<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.interfaces.IAirportDao">
   <resultMap id="AirportResultMap" type="com.solvd.airport.entities.Airport" autoMapping="false">
      <result column="ID" property="airportId" />
      <result column="airport_name" property="name" />
 	  <result column="planes_capacity" property="planesCapacity" />
 	  <association property="city" column="city_ID" javaType="com.solvd.airport.entities.City" select="com.solvd.airport.interfaces.ICityDao.getById"/>
   </resultMap>
   <select id="getById" parameterType="Long" resultMap="AirportResultMap">
	  Select * from Airports where ID =#{id}
   </select>

   <select id="getAll" resultMap="AirportResultMap">
	   Select * from Airports
   </select>
   <delete id="delete">

   </delete>
   <insert id="save">

   </insert>
   <update id="update">

   </update>
</mapper>