<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.interfaces.ICityDao">
   <resultMap id="CityResultMap" type="com.solvd.airport.entities.City" autoMapping="false">
      <result column="ID" property="cityId" />
      <result column="city_name" property="name" />
	  <result column="population" property="population" />
	  <association property="country" column="country_ID" javaType="com.solvd.airport.entities.Country" select="com.solvd.airport.interfaces.ICountryDao.getById"/>
   </resultMap>

   <select id="getById" parameterType="Long" resultMap="CityResultMap">
	  Select * from Cities where ID =#{id}
   </select>

   <select id="getAll" resultMap="CityResultMap">
	  Select * from Cities
   </select>

   <delete id="delete">
   </delete>

   <insert id="save">
   </insert>

   <update id="update">
   </update>
</mapper>